body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
}

.box1 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.header-container {
    width: 72%;
    display: flex;
    flex-direction: column;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 120px 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

ul a,
.header-content p {
    color: #E5E7EB;
    font-size: 18px;
}

ul li {
    padding-left: 16px;
}

.sign-in {
    width: 450px;
}

#city {
    width: 300px;
    height: auto;
}

.header-content h2 {
    color: #F9FAF8;
    font-size: 48px;
    margin: 0;
}

/* .header-content p {
    margin-bottom: 10px;
} */

.header-content button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
    margin: 12px 0;
}

