body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
}

.box1 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.header-container {
    width: 72%;
    display: flex;
    flex-direction: column;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 120px 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

ul a,
.header-content p {
    color: #E5E7EB;
    font-size: 18px;
}

ul li {
    padding-left: 16px;
}

.sign-in {
    width: 450px;
}

#city {
    width: 300px;
    height: auto;
}

.header-content h2 {
    color: #F9FAF8;
    font-size: 48px;
    margin: 0;
}

.header-content button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
    margin: 12px 0;
}

.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box2-container {
    border: 2px solid red;
}

.box2 h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 48px 0;
}

.box2-images {
    display: flex;
    gap: 48px;
    text-align: center;
    margin-bottom: 110px;
}

.box2 img {
    width: 180px;
    height: 180px;
    border-radius: 12px;
    border: 4px solid #3882F6;
}

.info {
    max-width: 180px;
}

.box3 {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    height: 425px;
}

.quote {
    display: flex;
    flex-direction: column;
    width: 780px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
}

